<div class="container">
  <div id="clearance" class="sign-up">
    <h2>
      <%= t(".title") %>
    </h2>

    <%= form_for @user do |form| %>
      <%= render partial: '/users/form', object: form %>

        <div class="submit-field">
          <%= form.submit :class => "btn btn-outline-light" %>
        </div>

        <div class="other-links mt-3">
          <%= link_to t(".sign_in"), sign_in_path, {:class => "text-white pl-1"}%>
        </div>
        <% end %>
  </div>
</div>