<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
  <ol class="carousel-indicators">
    <% Bike.all.each_with_index do |bike, index| %>
      <li data-target="#carouselExampleIndicators" data-slide-to="<%=index%>" class="<%= index == 0 ? " active ": " "%>"></li>
      <% end %>
  </ol>
  <div class="carousel-inner">
    <% Bike.all.each_with_index do |bike, index| %>
      <div class="carousel-item <%= index == 0 ? " active " : '' %>">
        <%=image_tag(bike.image_url, { :class => "img-fluid w-100", :alt => "Card Image"})%>
          <div class="carousel-caption text-white d-none d-md-block">
            <h3 class="display-4">
              <%= bike.bike_type %>
            </h3>
            <p>
              <%= bike.description %>
            </p>
          </div>
      </div>
      <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>