<%= form_with(model: bike, local: true) do |form| %>
  <% if bike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bike.errors.count, "error") %> prohibited this bike from being saved:</h2>

      <ul>
      <% bike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bike_type %>
    <%= form.text_field :bike_type, id: :bike_bike_type %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :bike_description %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, id: :bike_image_url %>
  </div>

  <div class="field">
    <%= form.label :cost_per_hour %>
    <%= form.number_field :cost_per_hour, id: :bike_cost_per_hour %>
  </div>

  <div class="field">
    <%= form.label :day_rate %>
    <%= form.number_field :day_rate, id: :bike_day_rate %>
  </div>

  <div class="field">
    <%= form.label :weekend_rate %>
    <%= form.number_field :weekend_rate, id: :bike_weekend_rate %>
  </div>

  <div class="field">
    <%= form.label :avail %>
    <%= form.check_box :avail, id: :bike_avail %>
  </div>

  <div class="field">
    <%= form.label :qty %>
    <%= form.number_field :qty, id: :bike_qty %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :bike_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
